* {
    margin: 0;
    color: white;
}

body {
    background-color:   #14133f;
}
.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.left {
    display: flex;
    flex-direction: column;
    background: #26254f;
    width: 400px;
    min-width: 400px;
    height:100%;
    border-radius: 0 55px 55px 0;
}

.right {
    background: #14133f;
    height: 100%;
    flex: 1;

}

.profile {
    display: flex;
    width: 100%;
    height: 200px;
}

.profile-img {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width:50%;
}

.profile-info {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width:50%;
}

.profile-icon {
    background: fuchsia;
    width:150px;
    height: 150px;
    border-radius: 30px
}

.profile-icon img {
    width:150px;
    height: 150px;
}

.profile-info .name {
    font-size: 35px;
    font-weight: 500;
    word-wrap: break-word;
}

.profile-info .level {
    margin-top:10px
}

.statistic-item {
    margin-top: 40px;
    margin-left: 30px;
}

.label {
    font-size: 25px;
}

.value {
    margin-top: 5px;
    font-size: 50px;
    font-weight: bold;
}

.online {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.online-icon {
    background: green;
    width: 10px;
    height: 10px;
    border-radius:20px;
    margin-left: 30px;
    margin-right: 10px;
}

.online-text {
    font-size: 25px;
    font-weight: bold;
}


.friends-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}
.friend {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 100px;
}

.friend-img {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width:40%;
}

.friend-icon {
    width:100px;
    height: 100px;
    border-radius: 30px
}

.friend-icon img {
    width:100px;
    height: 100px;
}

.friend-info {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width:60%
}

.friend-info .name {
    font-size: 23px;
    font-weight: 500;
    word-wrap: break-word;
}

.friend-info .level {
    margin-top:4px;
}

.sonic-color {
    background: #373789;
}

.mario-color {
    background: #893737;

}

.picka-color {
    background: #898137;

}

.header {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 170px;
}
.header-info {
    margin-top: 25px;
    margin-left: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width:50%
}

.header-info .first-text {
    font-size: 60px;
    font-weight: 800;
    word-wrap: break-word;
}

.header-info .second-text {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 5px;
}

.header-icon {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 110px;
    height: 100px;

}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    width:50px;
    height: 50px;
    border-radius: 50px
}

.icon-container img {
    width:30px;
    height: 30px;
}

.our-pick {
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 70px
}

.our-text {
    margin-left: 50px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold
}

.games-list {
    justify-content: space-around;
    display: flex;
    width: 100%;
    flex: 1;
}

.game {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 300px;
    height: 280px;
}

.game-img {
    align-items: center;
    display: flex;
    height: 100%;
    width:40%;
}

.game-icon {
    width:300px;
    height: 200px;
    border-radius: 30px
}

.game-icon img {
    width:300px;
    height: 200px;
}

.game-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
}

.game-info .game-name {
    font-size: 30px;
    font-weight: 500;
    word-wrap: break-word;
}

.game-info .by {
    font-size: 15px;
}

.fortnite-color {
    background: rgb(39, 229, 246);
}

.rdr-color {
    background: #bf2323;
}

.cyberpunk-color {
    background: #ffc800;
}

.rpg {
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 70px
}

.rpg-text {
    margin-left: 50px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold
}

.second-list {
    justify-content: space-around;
    display: flex;
    width: 100%;
    flex: 1;
}

.other-games {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 200px;
    height: 280px
}

.other-games-img {
    align-items: center;
    display: flex;
    height: 100%;
    width:40%;
}

.other-icon {
    width:200px;
    height: 200px;
    border-radius: 30px;
}

.other-icon img {
    width:200px;
    height: 200px;
}

.skyrim-color {
    background: lightskyblue;
}

.witcher-color {
    background: antiquewhite;
}

.border-color {
    background: #ffc800;
}

.asa-color {
    background: bisque;
}

.amer-color {
    background:brown;
}